*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI, sans-serif;
}

body{
background:#0f172a;
color:white;
}

.layout{
display:flex;
min-height:100vh;
}

.sidebar{
width:230px;
background:#020617;
padding:25px;
}

.logo{
text-align:center;
margin-bottom:40px;
color:#38bdf8;
}

.sidebar a{
display:block;
padding:12px;
margin-bottom:10px;
text-decoration:none;
color:#cbd5f5;
border-radius:6px;
}

.sidebar a:hover{
background:#1e293b;
color:white;
}

.main{
flex:1;
padding:40px;
background:#020617;
}

.card{
background:#020617;
border:1px solid #1e293b;
padding:25px;
width:420px;
border-radius:10px;
box-shadow:0 0 20px rgba(0,0,0,.4);
}

h2{
margin-bottom:15px;
color:#38bdf8;
}

input{
width:100%;
padding:12px;
margin-top:10px;
background:#020617;
border:1px solid #1e293b;
color:white;
border-radius:6px;
}

button{
width:100%;
padding:12px;
margin-top:15px;
background:#38bdf8;
color:black;
border:none;
border-radius:6px;
font-weight:bold;
cursor:pointer;
}

button:hover{
background:#0ea5e9;
}

.result{
margin-top:15px;
color:#22c55e;
font-weight:bold;
}
